html {
    background-color: darkseagreen;
    font-family: 'Courier New', Courier, monospace;
} 
title {
    margin: auto;
}
header {
   margin: auto;
    font: 1.2em / 1.5 system-ui;
    padding: 20px;
 width: 500px;
}

body { 
     margin: auto;
    font: 1.2em / 1.5 system-ui;
    padding: 20px;
 width: 500px;
}